
body {
    background-color: #3399FF;
    color: #003366;
    font-family: Rubik;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 700px;
    margin: 0;
    font-size: 22px;
}

button {
    background-color: #4A90E2;
    border: none;
    padding: 10px 10px;
    border-radius: 10px;
    color: white;
    font-family: "Bai Jamjuree", sans-serif;
    transition: 0.2s ease-in-out;
    font-size: 16px;
}

button:hover {
    transform: scale(1.02);
    font-weight: 700;
}

.passo {
    display: none;
}

.passo.ativo {
    display:block;
}

main {
    text-align: center;
    max-width: 90%;
}

img {
    max-width: 90%;
}
